{
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true,
    "jest": true,
    "browser": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }]
  },
  "plugins": ["prettier", "react-hooks"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
